/* SparkTrail.module.css */
.sparkTrail {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10001;
    cursor: none; /* Hide the mouse cursor */
  }
  
  .spark {
    position: absolute;
    border-radius: 50%;
    will-change: transform, opacity;
    animation: sparkle 0.2s ease-out forwards, fadeOut 0.6s ease-in forwards;
  }

  @keyframes sparkle {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

    .no-spark-trail {
        display: none;
    }